<section class="w-75 mx-auto py-5">

  <div class="row align-content-center">
    <div class="col-md-2">
      <img class="w-100" [src]="protectDetails.imageCover" [alt]="protectDetails.title">
    </div>
    <div class="col-md-10">
      <h3 class="h5">{{protectDetails.title}}</h3>
      <p class="text-muted">{{protectDetails.description}}</p>
      <h4 class="h6">{{protectDetails.category.name}}</h4>

      <div class="d-flex align-items-center justify-content-between">
        <span>{{ protectDetails.price }} EGP</span>
        <div>

          <span><i class="fas fa-star rating-color"></i></span>
          <span class="text-muted">{{ protectDetails.ratingsAverage }}</span>
        </div>

      </div>
      <button (click)="addCars(protectDetails._id)" class="btn btn-main w-100 mt-2 add-to-cart-btn">Add to Cart</button>   
     </div>
  </div>
</section>

