<section class="register-container">
    <h3 class="title">🚀 Join Us Now!</h3>
    <form [formGroup]="loginForm" (ngSubmit)="handleForm()" class="form-box">


      <div class="input-group">
        <input #inputEmail type="email" id="email" class="input-field" formControlName="email" placeholder=" " required>
        <label for="email" class="input-label">Email Address</label>
        <div class="error-message" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || inputEmail.value.length>0)">
          Enter a valid email
        </div>
      </div>

      <div class="input-group">
        <input #inputPassword type="password" id="password" class="input-field" formControlName="password" placeholder=" " required>
        <label for="password" class="input-label">Password</label>
        <div class="error-message" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || inputPassword.value.length>0)">
          Must be 6+ characters
        </div>
      </div>



      <div class="d-flex align-content-center justify-content-end gap-4">
        <a routerLink="/forgetpass" class="link-primary">Forget password</a>

        <button [disabled]="loginForm.invalid" type="submit" class="btn-main ">
          <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
          Login</button>
      </div>


      <p  *ngIf="msgError" class="alert alert-danger">{{msgError}}</p>

    </form>
  </section>
